body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 10px;
}
.header {
  grid-column: 1 / -1;
  padding: 20px;
  background-color: #e0e7ff;
  border-radius: 8px;
}
.user-div,
.feed-div,
.others-div,
.todos-div {
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 8px;
}
.left-container {
  grid-column: 1;
}
.user-div {
  grid-column: 1;
  height: 50%;
}
.todos-div {
  grid-column: 1;
  height: 50%;
}
.feed-div {
  grid-column: 2;
}
.others-div {
  grid-column: 3;
}
.post {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  min-height: 200px;
  margin: 20px;
  overflow: auto;
}
.other-user {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  margin-top: 5px;
  overflow: auto;
}

@media (max-width: 1000px) {
  .user-div {
    display: none;
  }

  .others-div {
    display: none;
  }
}
/* Styla detta!!!!.......... */
.todos-item {
  display: flex;
  align-items: center;
  height: auto;
  margin: 10px 0px;
}
/* storlek på checkmark */
.todos-item i {
  font-size: 24px;
}
.todos-title {
  margin: 0;
}
/* .................... */
